body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #7c98b3;
  color: #fff;
  padding: 1.5% 30% 1.5% 30%;
}

ul {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;

}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 70%;
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

h1 {
  font-family: Baskerville, serif;
  font-size: 250%;
}

img {
  width: 30%;
  place-content: center;
  border: 1px solid black;
  border-radius: 4px;
}

img:hover{
  opacity: 60%;
}

button a {
  color: white;
  text-decoration: none;
}

button {
  background-color: #7c98b3;
  border-radius: 10%;
  width: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}
 button:hover {
  opacity: 80%;
 }

 svg {
  width: 3%;
  height: 3%;
  fill: #ffffff;
 }

 .column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row {
  padding-top: 30px;
  content: "";
  display: table;
  clear: both;
}

