body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #7c98b3;
  color: #fff;
  padding: 1.5% 30% 1.5% 30%;
}

ul {
  text-align: center;
} 

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;

}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.content {
  max-width: 45%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}

h1 {
  font-family: Baskerville, serif;
  font-size: 250%;
}
