body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #7c98b3;
  color: #fff;
  padding: 1.5% 30% 1.5% 30%;
}

ul {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;

}

nav ul li {
  display: inline;
  margin-right: 50px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover {
  opacity: 70%;
}

.page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
}

.headerTitle {
  font-family: Baskerville, serif;
  font-size: xx-large;
  margin-top: 10px;
}

img {
  width: 30%;
  place-content: center;
  border: 1px solid black;
  border-radius: 4px;
}

img:hover{
  opacity: 60%;
}

button a {
  color: white;
  text-decoration: none;
}

button {
  background-color: #7c98b3;
  border-radius: 10%;
  width: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}

button:hover {
  opacity: 80%;
 }

 .actionButton{
  position: relative;
  float: right;
  font-weight: 500;
  font-size: 16px;
  background-color: #EF8354;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
}

svg {
  width: 3%;
  height: 3%;
  fill: #ffffff;
 }

 .column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row {
  padding-top: 30px;
  content: "";
  display: table;
  clear: both;
}

main {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container{
  width: 50%;
  top: 45%;
  left: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #4F5D75;
  border-radius: 10px;
  margin-top: 30px;
  min-width: 450px;
  min-height: 100px;
  max-height: 500px;
}

.pageContainer {
  display: flex;
  justify-content: center;
}
.centered-div {
  width: 400px;
  height: 100px;
  min-width: 450px;
  min-height: 100px;
  max-height: 500px;
  background-color: lightblue;
}