timerContent {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

#timer {
  font-size: 7em;
  margin-bottom: 20px;
}

.timerButton {
  font-size: 1em;
  margin: 5px;
  padding: 10px 20px;
  width: 80px;
  cursor: pointer;
  background-color: #4F5D75;
  color: white;
}

.timerStartButton {
  background-color: #EF8354
}

.timerSettings {
  padding-top: 110px;
}

.timerInput {
  font-size: 1em;
  padding: 5px;
  margin: 2px;
  width: 80px;
  text-align: center;
}

.threes{
  font-size: 1em;
  padding: 5px;
  margin: 2px;
  width: 80px;
  text-align: center;
}